html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to right, magenta, blueviolet, blue, #0080FF, #00FFC0, cyan, lime, greenyellow, yellow, orange, red);
}

#titulo {
  font-size: 50px;
  text-shadow: 1px 1px 2px yellow, 0 0 25px magenta, 0 0 5px cyan
}

.cartao {
  font-family: "Comic Sans MS";
}

.botao {
  background-color: magenta;
  color: yellow;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botao:hover {
  background-color: red;
}


.disclaimer {
}